* {
  margin: 0;
  padding: 7px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: aliceblue;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
.tourdiv {
  background-color: aliceblue;
  box-shadow: 5px 10px #888888;
}
.tourart {
  background-color: white;
  margin-bottom: 50px;
  border-radius: 1rem;
  box-shadow: 0 3px 5px #a7a6a6;
}

.read {
  background: none;
  border: none;
  color: rgb(17, 202, 202);
  position: initial;
  margin-top: auto;
}

.price {
  position: relative;
  left: 540px;
  bottom: 25px;
  background: rgb(164, 220, 241);
  max-width: min-content;
  border-radius: 1rem;
  color: rgb(20, 112, 233);
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-text-decoration: peru solid underline;
  text-decoration: peru solid underline;
  text-underline-position: under;
  -webkit-text-underline-position: under;
}
.img {
  padding: 0;
  width: 650px;
  border-radius: 1rem;
  height: 420px;
  object-fit: cover;
  width: 100%;
}
.info {
  text-overflow: ellipsis;
  display: block;
  width: 500px;
  overflow: hidden;
  white-space: nowrap;
  padding: 5px;
}

.less {
  background: none;
  border: none;
  color: rgb(17, 202, 202);
  position: inherit;
  left: auto;
  right: auto;
}

.btn {
  max-width: 50%;
  position: relative;
  background: none;
  color: rgb(168, 7, 7);
  width: 100%;
  border-color: rgb(168, 7, 7);
  border-style: solid;
  border-width: thin;
  border-radius: 3px;
}
.btnWrap {
  text-align: center;
}
